/* CSS Reset */
{% load static %}
* {
    box-sizing: border-box;
    font-family: 'Bree Serif';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* --------------------------Header----------------------------------- */
#header {
    /* background: #deecff; */
    background: linear-gradient(180deg, #0080ff, #fff);
    height: 100vh;
    color: #47525E;
}

.nav-container {
    margin: auto;
    display: flex;
    padding-top: 10vh;
    /* padding-left: 10px; */
    max-height: 25px;
    justify-content: center;
}

.linkbox {
    max-height: 25px;
    width: 200px;
    text-align: center;
}

.linkbox a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    /* color: #000; */
    color: #47525E;
    font-size: 20px;
}

.nav-container a:hover {
    font-size: 25px;
}

.img-container {
    max-width: 300px;
    margin: auto;
    padding-top: 20vh
}

#header img {
    width: 100%;
    border-radius: 50%;
}

#header h1 {
    margin-top: 7vh;
    text-align: center;
    color: #47525E;
    /* text-shadow: 2px 4px 5px #000; */
}

/* --------------------------Biodata------------------------------------ */
#biodata {
    height: 100vh;
    /* background: #acc6aa; */
    background: #fff;
    /* border-bottom: #000 14px solid; */
}

#biodata h1 {
    text-align: center;
    padding-top: 5vh;
    text-decoration: black underline;
}

.container {
    max-width: 400px;
    margin: 5vh auto;
    /* background: #969FAA; */
    background-color: rgba(150, 159, 170, 0.1);
    border-radius: 20%;
    border: #000 solid 5px;
}

#biodata .container ul {
    list-style-type: none;
    justify-content: center;
    margin-left: 35px;
    /* border-left: #000 solid 8px; */
    /* padding: 8px 8px; */
    /* border-radius: 50px;
    box-shadow: 8px 2px #000; */
}

#biodata .container ul li {
    line-height: 35px; 
}

/* ----------------------------------Tentang--------------------------------------------- */
#tentang {
    /* background: #cbf1f5; */
    /* background: #94A4C4; */
    background: url('/static/images/ui.jpg') no-repeat center center/cover
    fixed;
    height: 100vh;
}

#tentang h1 {
    text-align: center;
    padding-top: 5vh;
    text-decoration: black underline;
}

.container2 {
    max-width: 1000px;
    margin: auto;
    margin-top: 20vh;
}

#tentang .container2 p {
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    padding: 0 15px;
}

.medsos {
    margin: auto;
    margin-top: 25vh;
    max-width: 300px;
}

.medsos a {
    margin-left: 25px;
}

.medsos a i {
    color: #000;
    font-size: 48px;
}

.medsos a i:hover {
    color: #2A6A8D;
}

/* ----------------------------Riwayat----------------------------------- */
#riwayat {
    height: 100vh;
    /* background: #94A4C4; */
    background: #2A6A8D;
}

#riwayat h1 {
    text-align: center;
    padding-top: 5vh;
    text-decoration: black underline;
}

.box-riwayat {
    margin: 5vh auto;
    background: #B9C4D2;
    max-width: 1100px;
    padding: 20px;
    flex-direction: row;
    display: flex;
}

.logo-container {
    max-width: 150px;
    /* display: flex; */
}

#riwayat .box-riwayat .logo-container img {
    width: 100%;
}

.info-riwayat-container {
    /* display: flex; */
    margin-left: 40px;
    max-width: 700px;
}

#riwayat .box-riwayat .info-riwayat-container h3 {
    text-align: center;
}

#riwayat .box-riwayat .info-riwayat-container p {
    margin-top: 15px;
}

#riwayat p {
    text-align: center;
}

#riwayat a {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 12px;
}

#riwayat a:hover {
    color: #44f12b;
    font-size: 14px;
    text-decoration: none;
}

/* PPW PAGE */
#header-ppw {
    background-color: #2A6A8D;
    height: 100vh;
}

.container-ppw {
    max-width: 800px;
    margin: auto;
}

#header-ppw .container-ppw h1 {
    text-align: center;
    padding-top: 10vh;
}

.gambar {
    margin: 12vh auto;
    max-width: 50px;
}

#header .container-ppw .gambar img {
    width: 100%;
}

#header-ppw .progress {
    margin-top: 10vh;
}

#ppw2 {
    height: 100vh;
    background: #47525E;
}

#ppw2 h1 {
    text-align: center;
    color: #fff;
    padding-top: 4vh;
}

.form-container {
    background: #fff;
    border: #000 5px solid;
    border-radius: 1em;
    margin: 10vh auto;
    padding: 10px;
    max-width: 750px;
}

.form-container form label {
    text-align: center;
    display: block;
    margin-top: 20px;
}

.form-container form input {
    margin: auto;
    display: block;
}

.form-container form select {
    margin: auto;
    display: block;
}

.form-container form button {
    margin: 20px auto;
    display: block;
    padding: 5px;
    background: none;
    border: #0080ff 1px solid;
    border-radius: 1em;
}

.form-container form button:hover {
    background: #0080ff;
}

#ppw2 a {
    display: block;
    /* padding-bottom: 5vh; */
    text-align: center;
    color: #fff;
    font-size: 16px;
}

#ppw2 a:hover {
    font-size: 18px;
    text-decoration: none;
}

#list-jadwal {
    background: #2A6A8D;
    border-bottom: #000 solid 8px;
}

#list-jadwal h1 {
    text-align: center;
    padding-top: 10vh;
}

.container-table {
    max-width: 1100px;
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.table {
    color: #fff;
}

/* ------------------------Responsive------------------------------- */
@media (max-width: 1100px) {
    .box-riwayat {
        flex-direction: column;
        margin: 10px;
    }

    .logo-container {
        margin: auto;
    }

    .info-riwayat-container {
        margin: auto;
    }

    #riwayat {
        height: 150vh;
    }
}

@media (max-width: 426px) {
    #biodata {
        height: 125vh;
    }

    #biodata h1 {
        padding-top: 20vh;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 250px;
    }
    
    #riwayat {
        height: 180vh;
    }

    .progress {
        margin: 10px;
    }
}

@media (max-width: 360px) {
    .medsos {
        margin-top: 20vh;
    }
}

@media (max-width: 320px) {
    #tentang {
        height: 125vh;
    }

    #riwayat {
        height: 200vh;
    }

    #header-ppw {
        height: 120vh;
    }
}

@media (max-height: 414px) {
    #header {
        height: 200vh;
    }

    #biodata {
        height: 200vh;
    }

    #tentang {
        height: 150vh;
    }

    #riwayat {
        height: 250vh;
    }

    #header-ppw {
        height: 120vh;
    }
}

@media (max-height: 320px) {
    #riwayat {
        height: 300vh;
    }
}