<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Bree Serif">
    
    <script src="https://kit.fontawesome.com/26197ec3bf.js"></script>

    <title>Profil Saya</title>
</head>
<body>
    <div id="header">
        <div class="nav-container">
            <div class="linkbox"><a href="#biodata"><b>Biodata</b></a></div>
            <div class="linkbox"><a href="#tentang"><b>Tentang</b></a></div>
            <div class="linkbox"><a href="#riwayat"><b>Riwayat</b></a></div>   
        </div>
        <div class="img-container"><img src="{% static 'images/foto_saya_cropped.jpg' %}" alt="foto_saya"></div>
        <h1>Muhammad Azis Husein</h1>
    </div>

    <div id="biodata">
        <h1>Biodata</h1>
        <div class="container">
            <ul>
                <li><b>Nama Lengkap:</b></li>
                <li>&emsp; Muhammad Azis Husein</li>
                <li><b>Nama Panggilan:</b></li>
                <li>&emsp; Azis</li>
                <li><b>NPM:</b></li>
                <li>&emsp; 1806191622</li>
                <li><b>Tempat Kuliah:</b></li>
                <li>&emsp; Fasilkom UI</li>
                <li><b>Angkatan:</b></li>
                <li>&emsp; 2018</li>
                <li><b>Hobi:</b></li>
                <li>&emsp; Baca, Coding, Main</li>
            </ul>
        </div>
    </div>

    <div id="tentang">
        <h1>Tentang Saya</h1>
        <div class="container2">
            <p>Saya adalah seseorang yang ramah dan mudah berteman. Untuk mengetahui tentang saya lebih banyak, silakan kunjungi media sosial saya.</p>
        </div>

        <div class="medsos">
            <a href="https://www.instagram.com/muhammadazishusein"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/muhammad-azis-h/"><i class="fab fa-linkedin"></i></a>
            <a href="https://gitlab.com/muhammadazishusein"><i class="fab fa-gitlab"></i></a>
            <a href="https://medium.com/@muhammadazishusein"><i class="fab fa-medium-m"></i></a>
        </div>
    </div>

    <div id="riwayat">
        <h1>Riwayat</h1>
        <div class="box-riwayat">
            <div class="logo-container">
                <img src="{% static 'images/logosma14.png' %}" alt="SMA 14 Jakarta">
            </div>
            <div class="info-riwayat-container">
                <h3>SMA Negeri 14 Jakarta 2015-2018</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eaque nemo tenetur libero atque itaque ad quod neque asperiores natus quasi quisquam, laboriosam rerum nam voluptas reiciendis quam. Saepe, assumenda?
                </p>
            </div>
        </div>

        <div class="box-riwayat">
            <div class="logo-container">
                    <img src="{% static 'images/fasilkom ui.png' %}" alt="Fasilkom UI">
            </div>
            <div class="info-riwayat-container">
                <h3>Fakultas Ilmu Komputer Universitas Indonesia 2018-...</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eaque nemo tenetur libero atque itaque ad quod neque asperiores natus quasi quisquam, laboriosam rerum nam voluptas reiciendis quam. Saepe, assumenda?
                </p>
            </div>
        </div>

        <p>Copyright &copy; Muhammad Azis Husein</p>
        <a href="{% url 'homepage:jadwal' %}">klik di sini untuk info selanjutnya</a>
    </div>

    <!-- <script src="./js/bootstrap.js"></script> -->
</body>
</html>