<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://kit.fontawesome.com/26197ec3bf.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Bree Serif">
    
    <title>Jadwal Saya</title>
</head>

<body>
    <div id="list-jadwal">
        <h1>Jadwal Saya</h1>
        <div class="container-table">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Kategori</th>
                    <th scope="col">Tempat</th>
                    <th scope="col">Waktu</th>
                    <th scope="col">Hapus</th>
                    </tr>
                </thead>
                {% for schedule in schedules %}
                <tbody>
                    <tr>
                    <td>{{ schedule.name }}</td>
                    <td>{{ schedule.category }}</td>
                    <td>{{ schedule.place }}</td>
                    <td>{{ schedule.date }}</td>
                    <td><a class="btn btn-danger" href="/delete/?arg={{schedule.id}}">Delete</a></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="ppw2">
        <h1>Schedule Form</h1>
        <div class="form-container">
            <!-- <form id="form" action="{ % url homepage:jadwal % }" method="POST"> -->
            <form id="form" action="/jadwal/" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit">SUBMIT</button>
            </form>
        </div>
        <a href="{% url 'homepage:index' %}">Kembali ke halaman utama</a>
    </div>

    <script>
        $(function () {
            $("#id_date").datetimepicker({
            format: 'Y-m-d H:i',
            });
        });
    </script>
</body>
</html>